 :root{
    --background-light: #fff
    --background-dark #000
   --logo-color: #FED136
   --text-color
   --name-color
 }
body{ 
    width: 1000px;
    padding: 0 29px;
    font-family: 'Montserrat', sans-serif;
}